body {
  background-image: url(https://img.freepik.com/fotos-gratis/apartamento-leigos-do-conceito-de-negocio_53876-64851.jpg?t=st=1713493374~exp=1713496974~hmac=7e6b31332966f80f85dcb09590b3bf42014c4658de6cb76e26edd7ac9952a310&w=1480);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
  color: #0a0d11;
}

ul {
  list-style: none;
}

input {
  padding-top: 5px;
}

input[type="text"] {
  background-color: #0a0d11;
  border: none;
  font-size: medium;
  color: white;
}

input[type="submit"] {
  color: rgb(104, 103, 103);
  background-color: transparent;
  font-size: medium;
  border-color: #303f52;
  font-style: oblique;
  visibility: visible;
  margin-left: 5px;
}

input:hover {
  background-color: #252e3b;
}

.add-task {
  padding: 5px;
  background-color: #0a0d11;
  display: flex; 
  flex-direction: column;
  margin: auto;
  height: 80vh; 
  width: 35%;
  border-radius: 10px;
}

.form {
  display: flex;
  justify-content: center;
}

li {
  color: rgb(212, 210, 210);
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: space-between; 
  align-items: start;
  margin-top: 10px;
  margin-left: -20px;
}

li button {
  margin-left: 5px; 
  margin-top: 5px;
  background-color: #303f52;
  color: white;
}

.two-buttons{
  display: flex;
  margin-right: 10px;
}